@model ChatViewModel
@{
    string username = User.Identity.Name;
    bool isAdmin = User.IsInRole("Admin");
    ViewData["Title"] = (isAdmin) ? "Admin Page" : "Home Page";

}

<button class="btn btn-outline-info mb-1 mx-2 d-block d-md-none" id="back-to-contacts">back to contacts</button>
@if (isAdmin)
{
    <form class="d-inline-flex mb-1" action="/" method="get">
        <input name="id" id="uname" type="text" class="form-control" placeholder="enter TiketId" style="border-radius:0.25rem 0 0 0.25rem" />
        <button type="submit" class="btn btn-outline-info" id="back-to-contacts" style="border-radius: 0 0.25rem 0.25rem 0 ">get</button>
    </form>
}
else
{
    <div class="d-inline-flex mb-1  mx-2">
        <a href="/Home/CreateTiket" class="btn btn-outline-success" id="back-to-contacts" style="border-radius:0.25rem; ">+ Tiket</a>
    </div>
}

<div class="row">
    <div class="col-md-4 d-md-block d-none" id="contacts" style="height:500px">

        <ol class="list-group list-group-numbered" style="overflow: overlay;height:500px">

            @foreach (var item in Model.Tikets)
            {
                <li class="list-group-item d-flex justify-content-between align-items-start">

                    <div class="ms-2 me-auto">
                        <div class="fw-bold"><a href="/@item.TiketId">@item.Title</a></div>
                        @item.LastMessage
                    </div>

                    <span class="badge bg-primary rounded-pill">@item.MessageCount</span>
                </li>
            }


        </ol>

    </div>

    <div class="col-md-8">

        <div class="card" style="height:400px;border-radius: 0.25rem;" id="messages">
            <div class="card-header">
                <div class="row">
                    <div class="col-6 mt-2">
                        @Model.Tiket.Title
                    </div>
                    <div class="col-6" dir="rtl">
                        @if (isAdmin)
                        {
                            <a href="/Home/EditTiket?id=@ViewBag.tiketId" class="btn btn-dark" style="border-radius: 25rem;" title="Manage tiket">⚙️</a>
                        }
                    </div>
                </div>
            </div>
            <div id="messagesdiv" class="card-body" style="overflow: overlay">

                @foreach (var item in Model.Messages)
                {
                    if (!item.IsAnser)
                    {
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-8">
                                <div class="bdr-callout bdr-callout-primary">
                                    <span class="fw-semibold">@((isAdmin)? Model.Tiket.User.UserName : username)</span>
                                    <p class="mt-1">@item.Text</p>

                                    <span style="font-size:10px;">@item.CreatedTime</span>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="row">
                            <div class="col-md-8">
                                <div class="bd-callout bd-callout-info">
                                    <span class="fw-semibold">Admin</span>
                                    <p>@item.Text</p>

                                    <span style="font-size:small">@item.CreatedTime</span>
                                </div>
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                    }
                }

            </div>

        </div>
        @if (Model.Tiket.IsFinaly)
        {
            <div class="card-footer">
                <label>⚠️This Tiket is finaly</label>
            </div>
        }
        else
        {
            <form id="MessageForm" class="card-footer d-inline-flex mt-1" style="width: -webkit-fill-available;">
                <textarea id="messageTextBox" class="form-control" placeholder="message" style="max-height:75px;height:75px;border-radius:0.25rem 0 0 0.25rem;"></textarea>
                <input type="hidden" value="@ViewBag.tiketId" />
                <input type="hidden" value="@((isAdmin)? 1 : 0)" />

                <button type="submit" class="btn btn-outline-info" style="border-radius: 0 0.25rem 0.25rem 0;">⤴️</button>
            </form>
        }
    </div>

</div>

@section Scripts{
    <script>
        $("#back-to-contacts").on('click', () => {
            $("#contacts").removeClass('d-none');
            $("#back-to-contacts").addClass('d-none');
            $("#messages").addClass('d-none');
        })
    </script>
    <script src="~/js/chat.js"></script>

}